.env

# dossier pour le rendu et support de cours
exos
rendus

# données csv sources
data/*.csv

# données parquet temporaires
data/

# jupyter notebook checkpoints
notebooks/.ipynb_checkpoints

# Notebook ADLS (avec secretkey)
notebooks/ADLS_Connect.ipynb

# cache Python
*/__pycache__/
